* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* ------------------THIS CSS is for Reasons-page */

/* .main-text {
  margin: 1.3rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  box-shadow: 0 0 10px rgb(47, 173, 173);
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items>li {
  margin: 0 0.7rem;
}

img {
  width: 100px;
}

ol {
  margin: 1rem 2rem;
}

ol > li {
  margin: 0.4rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding: 0.3rem;
  width: 100vw;
  background-color: rgb(51, 90, 90);
  color: white
} */

/* ------------------THIS CSS is for Facts-page */

body {
  margin: 0;
}

nav {
  height: 5.7rem;
  padding: 2rem 1.5rem;
  background-color: #21222A;
  display: flex;
  align-items: center;
}

/* .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.5rem;
} */

nav > h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #61DAFB;
  margin-right: auto;
}

nav > h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #DEEBF8;
}

nav > img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.main-text {
  background-color: #282D35;
  background-image: url(./images/reactjs-icon2.png);
  background-repeat: no-repeat;
  background-position: right 60%;
  background-size: 120px;
  color: #FFFFFF;
  height: 100vh;
  padding: 3rem 2rem;
}

.main-text > h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

.main-text > ul {
  margin-top: 1.5rem;
}

.main-text > ul > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

.main-text > ul > li {
  line-height: 19px;
  padding-block: 0.5rem;
  max-width: 40ch;
}

.main-text {
  z-index: 3;
}